{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  

{% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
      {% assign classes = "ml-1" ,"mr-1" %}
      {% if page.url == trail.path %}
        <span class="ml-1 mr-1 selected">{{ trail.num }}</span>
      {% else %}
        <a class="ml-1"href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
      {% endif %}
    <!-- </li> -->
  {% endfor %}
{% endif %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}