<section class="row">
    <div class="col-xs-6 col-md-4"><a href="https://anchor.fm/geek-on-film"><img src="/assets/images/anchorfm.png" alt="Anchor.fm banner" /></a></div>
    <div class="col-xs-6 col-md-4"><a href="https://open.spotify.com/show/41oS8ZDw5KuPDCpIuXFo1h"><img src="/assets/images/spotify.png" alt="Spotify banner"></a></div>
    <div class="col-xs-6 col-md-4"><a href="https://podcasts.apple.com/us/podcast/geek-on-film/id1637502307"><img src="/assets/images/apple.png" alt="Apple Podcasts banner" /></a></div>

</section>
<section class="row">
    <div class="col-xs-6 col-md-4"><a href="https://pca.st/2hqki82z"><img src="/assets/images/pocketcasts.svg" alt="Pocketcasts banner" width="100%" /></a> </div>
    <div class="col-xs-6 col-md-4"><a href="https://music.amazon.com/podcasts/78ba0096-12b7-4c38-9f49-0e52c387733f/geek-on-film"><img src="/assets/images/amazon.png" width="100%" alt="Amazon Music banner" /></a></div>
    <div class="col-xs-6 col-md-4"><a href="https://www.stitcher.com/podcast/geek-on-film"><img src="/assets/images/stitcher.png" alt="Stitcher Banner" /></a></div>

</section>