<div class="subscribe-badges">
  <a href="https://open.spotify.com/show/41oS8ZDw5KuPDCpIuXFo1h?si=m0mPiYO4R2K0siTNKUYtuA" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--spotify" title="Listen on Spotify">
    <i class="fa-brands fa-spotify"></i>
  </a>
  <a href="https://podcasts.apple.com/us/podcast/geek-on-film/id1637502307" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--apple" title="Listen on Apple Podcasts">
    <i class="fa-brands fa-apple"></i>
  </a>
  <a href="https://pca.st/2hqki82z" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--pocketcasts" title="Listen on Pocket Casts">
    <i class="fa-solid fa-headphones"></i>
  </a>
  <a href="https://music.amazon.com/podcasts/78ba0096-12b7-4c38-9f49-0e52c387733f/geek-on-film" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--amazon" title="Listen on Amazon Music">
    <i class="fa-brands fa-amazon"></i>
  </a>
  <a href="https://www.youtube.com/@geekonfilmcom" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--youtube" title="Watch on YouTube">
    <i class="fa-brands fa-youtube"></i>
  </a>
  <a href="https://tunein.com/podcasts/Geek-On-Film-p1933068/?topicId=551935019" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--tunein" title="Listen on TuneIn">
    <i class="fa-solid fa-tower-broadcast"></i>
  </a>
  <a href="https://lnns.co/4ReKiaD6-Xn" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--listennotes" title="Listen on Listen Notes">
    <i class="fa-solid fa-headphones-simple"></i>
  </a>
  <a href="https://www.podchaser.com/podcasts/geek-on-film-4824436" target="_blank" rel="noopener" class="subscribe-badge subscribe-badge--podchaser" title="Listen on Podchaser">
    <i class="fa-solid fa-microphone"></i>
  </a>
</div>
