---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss",
	"youtube"
;

a[href^="https://open.spotify.com"]{
	background-image:url("../images/spotify.svg");
	background-repeat: no-repeat;
      padding-left: 1.5em;
      background-position: center left 0;
      background-size: 2em;

}