---
layout: default
---
<div class="container">
    <section class="row">
        <strong class="ml-2">Episode-{{ page.episode-number | prepend: '00' | slice: -2, 2  }} - {{ page.title }}</strong>
        <p class="pl-2">Date Released: {{ page.date |  date: '%B %d, %Y'}}</p>
        <div class="col-lg-12 mb-6">
            <iframe src="{{ page.source }}" width="100%" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>
    <section class="row">
        <h1 class="medium">Show Notes:</h1>
        <div class="col-lg-12 mb-6">
            {{ content }}
        </div>
    </section>
</div>