---
layout: default
---
<div class="container">
    {% assign episode_number = page.episode-number %}
    {% if page.season %}
        {% assign season = page.season %}
    {% else %}
        {% assign season = "1" %}
    {% endif %}

    <h1>Episode {{ episode_number }} - {{ page.title }}</h1>
    <p class="pl-2">Season {{ season }} | Record date: {{ page.date |  date: '%B %d, %Y'}}</p>

    <section class="row">
        <div class="col-lg-2 col-md-1">
            {% include share.html %}
        </div>
        <div class="col-lg-4 col-md-10">
            {% if page.episode-image %}
                {% assign image = page.episode-image %}
            {% else %}
                {% assign image = page.image %}
            {% endif %}
            <img src="{{ image }}" width="100%" frameborder="0" scrolling="no"></iframe>
            <iframe src="{{ page.source }}" width="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-lg-6 col-md-10">
            
                <h1 class="medium">Show Notes:</h1>
                <div>
                    {{ content }}
                </div>
        </div>
    </section>
    {% include podcast-services.html %}
</div>
